<section class="artists">
  <div class="container artist-container">
    <div class="artists-text-container">
      <h2 class="artists-text">Artists</h2>
      <p class="artists-title">Explore Your New Favorite Artists</p>
    </div>
    <ul class="artist-gallery">
    </ul>
    <div class="btn-container">
      <button type="button" class="artists-btn-load">Load more <svg class="icon" width="24" height="24">
          <use href="../img/artists-svg/artists.svg#icon-down-arrow-alt"></use>
        </svg>
      </button>
    </div>
  </div>
</section>