<header class="header">
  <div class="container header-container">
    <nav class="navigation-menu">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="#" class="navigation-link">Artists</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">About Us</a>
        </li>
        <li class="navigation-item">
          <a href="#" class="navigation-link">Reviews</a>
        </li>
      </ul>
      <svg class="burger-icon" width="24" height="24" data-menu-open>
        <use href="/img/sprite.svg#burger-menu"></use>
      </svg>      
    </nav>

    <section class="navbar-menu" data-menu>
    <div class="container navbar-header-container">

       <a class="nav-logo" href="./index.html" aria-label="Site logo"></a>
        <svg class="navbar-logo-icon" width="83" height="23">
        <use href="{=$icon-path}"></use>
      </svg>
    </a>

    <svg class="navbar-close" width="24" height="24" data-menu-close>
      <use href="/img/sprite.svg#burger-close"></use>
    </svg>
    
   </div>

    <nav class="container navbar-container">
      <ul class="navbar-list">
        <li class="navbar-item">

          <a
            href="#artist"
            class="navbar-link"
            data-menu-close-artist
            >Artist</a
          >
        </li>
        <li class="navbar-item">
          <a href="#about us" class="navbar-link" data-menu-close-aboutus
            >About us</a>
        </li>
        <li class="navbar-item">
          <a href="#reviews" class="navbar-link" data-menu-close-reviews
            >Reviews</a>
        </li>
      </ul>
     
    </nav>
  </div>
</header>

