<header class="header">
  <div class="container header-container">
    <nav class="nav-burger-menu">
      <svg class="burger-icon" width="24" height="24" data-menu-open>
        <use href="/img/sprite.svg#burger-menu"></use>
      </svg>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="#team" class="navigation-link">Artists</a>
        </li>
        <li class="navigation-item">
          <a href="#testimonials" class="navigation-link">About Us</a>
        </li>
        <li class="navigation-item">
          <a href="#pricing" class="navigation-link">Reviews</a>
        </li>
      </ul>
    </nav>

    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li><a href="#">Artists</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>

      <!-- <button class="" aria-label="">
        <svg width="24" height="24">
          <use href="img/sprite.svg#burger-close" aria-label="Close Button">
        </svg>
       </button>   -->
    </nav>
  </div>
</header>
