<section class="hero-section" id="main-page">
  <div class="container hero-container">
    <div class="hero-context">
      <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
      <p class="hero-text">
        Dive into a world of music discoveries with ArtistsHub - your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <div class="explore-artists-box">
        <a class="hero-link-explore" href="#explore"
          >Explore Artists
          <svg class="nav-logo-icon" width="24" height="20">
            <use href="/img/sprite.svg#explore-artists"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero-image">
      <picture class="hero-img">
        <source
          srcset="
            /img/hero/desktop/desktop-1x.webp 1x,
            /img/hero/desktop/desktop-2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/hero/tablet/tablet-1x.webp 1x,
            /img/hero/tablet/tablet-2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/hero/mobile/mobile-1x.webp 1x,
            /img/hero/mobile/mobile-2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img src="/img/hero/mobile/mobile-1x.webp" alt="Hero img preview" />
      </picture>
    </div>
  </div>
</section>
