<section class="hero-section" id="main-page">
  <div class="linear-gradient-top"></div>
  <div class="container hero-container">
    <div class="hero-context">
      <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
      <h1 class="hero-title-tablet hidden">
        Discover Your Next Favorite Artist Today
      </h1>
      <p class="hero-text">
        Dive into a world of music discoveries with ArtistsHub - your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>

      <div class="explore-artists-box">
        <a class="hero-link-explore" href="#explore"
          >Explore Artists
          <svg class="nav-logo-icon" width="24" height="20">
            <use href="../img/sprite.svg#explore-artists"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero-image"></div>
  </div>
  <div class="linear-gradient-bottom"></div>
</section>
