.hero-section {
  background-color: var(--color-affair-darkest);
  position: relative;
}

.hero-section::before,
.hero-section::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}
.hero-section::before {
  top: 0;
  height: 80px;
  /* верхній */
  background: linear-gradient(180deg, #060307 0%, rgba(35, 19, 43, 0) 100%);
}

.hero-section::after {
  bottom: 0;
  height: 106px;
  /* нижній */
  background: linear-gradient(0deg, #060307 0%, rgba(35, 19, 43, 0) 100%);
}

.hero-container {
  padding: 64px 16px 0px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
  max-width: 288px;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: 1.1;
  letter-spacing: -0.01em;
  max-width: 288px;
  margin-bottom: 20px;
}

.explore-artists-box {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px 24px;
  max-width: 288px;
  height: 47px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-affair);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin: 0 auto;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
  margin-bottom: 64px;
}

.explore-artists-box:hover,
.explore-artists-box:focus {
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-affair);
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.6;
}

.hero-image img {
  width: 100%;
  object-fit: cover;
}
.hero-link-explore {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 24px 32px 0px;
  }

  .hero-title {
    /* font-size: 48px; */
    max-width: 624px;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .hero-text {
    font-size: 20px;
    margin-bottom: 32px;
    max-width: 624px;
  }
  .explore-artists-box {
    margin: 0;
    margin-bottom: 32px;
    max-width: 246px;
  }

  .hero-section::after {
    height: 137px;
    /* нижній */
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .hero-container {
    display: flex;
    gap: 31px;
    padding: 0 64px;
  }

  .hero-title {
    min-width: 640px;
    font-weight: 700;
    /* font-size: 84px; */
  }

  .hero-title {
    max-width: 624px;
    margin-bottom: 32px;
  }

  .hero-context {
    margin: auto 0;
  }

  .explore-artists-box {
    max-width: 208px;
  }
}
