.hero-section {
  /* height: 900px;
   */
  margin: auto;
  /* background-color: #23132b; */
  position: relative;
  /* margin-top: 64px; */
  background-color: var(--color-scheme-3-background);
}

.linear-gradient-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, rgba(35, 19, 43, 0) 0%, #060307 100%);
  z-index: 2;
}

.linear-gradient-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 106px;
  background: linear-gradient(180deg, rgba(35, 19, 43, 0) 0%, #060307 100%);
  z-index: 2;
}

.hero-context {
  position: relative;
  z-index: 3;
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 84px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.explore-artists-box {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px 24px;
  width: 288px;
  height: 47px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-affair);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
  margin: 0 auto;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.explore-artists-box:hover,
.explore-artists-box:focus {
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-affair-lighter);
  color: var(--color-affair-dark);
  cursor: pointer;
}

.hero-image {
  width: 100%;
  height: 385px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: image-set(
    url('../img/hero/mobile/mobile-1x.webp') 1x,
    url('../img/hero/mobile/mobile-2x.webp') 2x
  );
}

@media screen and (min-width: 768px) {
  .linear-gradient-top {
    height: 125px;
  }

  .linear-gradient-bottom {
    height: 137px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .linear-gradient-top {
    height: 80px;
  }
}
